In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv('Cricket.csv')

In [3]:
df.sample()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_U.S.A.,Winner_West Indies,Winner_Zimbabwe
4014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
df.head()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_U.S.A.,Winner_West Indies,Winner_Zimbabwe
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
df.sample(10)

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_U.S.A.,Winner_West Indies,Winner_Zimbabwe
1879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
806,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3874,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
375,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5607,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6341,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1206,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
7439,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6478,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
df

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_U.S.A.,Winner_West Indies,Winner_Zimbabwe
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.shape

(7494, 240)

In [10]:
df['Winner_New Zealand'].value_counts()

Winner_New Zealand
0    6846
1     648
Name: count, dtype: int64

In [11]:
df['Winner_Australia'].value_counts()

Winner_Australia
0    6390
1    1104
Name: count, dtype: int64

In [ ]:
df['Winner_India'].value_counts().plot(kind='bar')

In [15]:
df['Winner_U.S.A.'].value_counts()

Winner_U.S.A.
0    7492
1       2
Name: count, dtype: int64

In [16]:
df.isnull().sum()

Team 1_Afghanistan    0
Team 1_Australia      0
Team 1_Bangladesh     0
Team 1_Bermuda        0
Team 1_Canada         0
                     ..
Winner_Sri Lanka      0
Winner_U.A.E.         0
Winner_U.S.A.         0
Winner_West Indies    0
Winner_Zimbabwe       0
Length: 240, dtype: int64

In [17]:
df.describe()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_U.S.A.,Winner_West Indies,Winner_Zimbabwe
count,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,...,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000
mean,0.010809,0.114625,0.043768,0.004804,0.010008,0.000534,0.088604,0.002402,0.117427,0.015079,...,0.086469,0.001334,0.124366,0.008273,0.096344,0.099013,0.002402,0.000267,0.101414,0.034428
std,0.103408,0.318590,0.204593,0.069148,0.099545,0.023099,0.284191,0.048954,0.321950,0.121874,...,0.281074,0.036508,0.330021,0.090587,0.295082,0.298699,0.048954,0.016335,0.301897,0.182337
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
sns.countplot(df['Winner_India'])